<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Board">
    <insert id="insertBoard">
        insert into PLAY (title, writer, genre, songList, songCount, img, playtime)
        values
        (#{title} , #{writer} , #{genre} , #{songList} , #{songCount} , #{img} , #{playtime})</insert>

    <update id="updateBoard">
        update PLAY
        set title=#{title} , writer=#{writer}, genre=#{genre} , songList=#{songList} , songCount=#{songCount} , img=#{img} , playtime=#{playtime} where seq=#{seq}
    </update>

    <delete id="deleteBoard">
        delete from PLAY where seq=#{seq}
    </delete>

    <select id="getBoard" resultType="board">
        <![CDATA[
        select * from PLAY where seq=#{seq}
        ]]>
    </select>

    <select id="getBoardList" resultType="board">
    select * from PLAY order by seq asc</select>
</mapper>